*{
	padding: 0;
	margin: 0;
}
#box{
	/*margin: 30px;*/
	text-align: center;
}
button{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 8px/100% arial,helvetica,sans-serif;
	padding: 0.5em 2em 0.55em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	border-radius: 0.5em;
	background-color: #944bc8;;
	color: white;
}
button:hover{
	text-decoration: none;
}
